{% extends 'base.html.twig' %}

{% block title %}Diary index{% endblock %}

{% block body %}
    <h1>Diary index</h1>

        {% for diary in pagination %}
                <span>{{ diary.date ? diary.date|date('Y-m-d') : '' }}</span>
            <a href="{{ path('app_diary_show', {'id': diary.id}) }}"><span>show</span></a>
            <a href="{{ path('app_diary_edit', {'id': diary.id}) }}">edit</a>
                <p>{{ diary.content }}</p>


        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}

{#    {% if pageCount > 1 %}#}
{#        items {{ firstItemNumber }} to {{ lastItemNumber }} of {{totalCount}}#}
{#        {% if previous is defined %}#}
{#            <a type="button" class="btn btn-secondary" rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">{{'<'}}</a>#}
{#        {% else %}#}
{#            <button type="button" class="btn btn-secondary" disabled><</button>#}
{#        {% endif %}#}
{#        {% if next is defined %}#}
{#            <a type="button" class="btn btn-secondary" rel="next" href="{{ path(route, query|merge({(pageParameterName): next})) }}"> > </a>#}
{#        {% else %}#}
{#            <button type="button" class="btn btn-secondary" disabled> > </button>#}
{#        {% endif %}#}
{#    {% endif %}#}
    <a href="{{ path('app_diary_new') }}">Create new</a>
{% endblock %}
