{% extends 'base.html.twig' %}

{% block title %}Diary index{% endblock %}

{% block body %}
    <div>
        <a href="{{ path('app_diary_new') }}"><h3>Write New Diary</h3></a>
    </div>
        {% for diary in pagination %}
            <span>{{ diary.date ? diary.date|date('Y-m-d') : '' }}</span>
            <a href="{{ path('app_diary_show', {'id': diary.id}) }}"><span>show</span></a>
            <a href="{{ path('app_diary_edit', {'id': diary.id}) }}">edit</a>
            <p>{{ diary.content|length > 200 ? diary.content|slice(0, 200) ~ '…' : diary.content }}</p>


        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}

    {{ knp_pagination_render(pagination) }}
{% endblock %}
