{% extends 'base.html.twig' %}

{% block title %}Diary{% endblock %}

{% block body %}
    <h1>Diary</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ diary.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ diary.date ? diary.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ diary.content|nl2br }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_diary_index') }}">back to list</a>

    <a href="{{ path('app_diary_edit', {'id': diary.id}) }}">edit</a>

    {{ include('diary/_delete_form.html.twig') }}
{% endblock %}
